.work-data p,
#main-nav-trigger-open,
#menu-container,
#page-header .page-subtitle,
.thb-text h1,
.thb-text h2,
.thb-text h3,
.thb-text h4,
.thb-text h5,
.thb-text h6,
.comment_body h1,
.comment_body h2,
.comment_body h3,
.comment_body h4,
.comment_body h5,
.comment_body h6,
.thb-slideshow-callto,
.thb-navigation .nav-previous,
.thb-navigation .nav-next,
.thb-password-protected .inner-wrapper .thb-password-protected-message,
form input[type="submit"],
#comments-title,
.comment .comment_rightcol .comment_head .date,
#respond .comment-reply-title,
.page-template-template-blog-php #content .item .pubdate .item-month,
.blog #content .item .pubdate .item-month,
.archive #page-content .item .pubdate .item-month,
.search #page-content .item .pubdate .item-month,
.thb-su-loop-item .pubdate .item-month,
.page-template-template-blog-php #content .item .item-footer,
.blog #content .item .item-footer,
.archive #page-content .item .item-footer,
.search #page-content .item .item-footer,
.author-block h1,
.related h3,
.related .list li .item-title p,
.thb-su-loop-item .su-post-title,
#thb-portfolio-filter li,
#thb-infinite-scroll-nav a,
.single-attachment .post-meta h1,
.page-template-template-archives-php .thb-col h3,
.widget .widgettitle,
.widget.widget_calendar table caption {
	font-family: "Helvetica";
}
body {
	font-family: "Helvetica";
}
a:hover,
#page-header,
.required,
.page-template-template-blog-php #content .item .pubdate,
.page-template-template-blog-php #content .item .item-header h1 a,
.page-template-template-blog-php #content .item .item-footer,
.page-template-template-blog-php #content .item .item-footer a,
.blog #content .item .pubdate,
.blog #content .item .item-header h1 a,
.blog #content .item .item-footer,
.blog #content .item .item-footer a,
.archive #page-content .item .pubdate,
.archive #page-content .item .item-header h1 a,
.archive #page-content .item .item-footer,
.archive #page-content .item .item-footer a,
.search #page-content .item .pubdate,
.search #page-content .item .item-header h1 a,
.search #page-content .item .item-footer,
.search #page-content .item .item-footer a,
#page-links span,
#page-links a:hover,
input[type="submit"]:hover,
#footer-sidebar input[type="submit"]:hover,
.widget .tagcloud a:hover,
#footer-sidebar .widget .tagcloud a:hover,
.widget a:hover,
#footer-sidebar .widget a:hover,
.widget.widget_tp_widget_recent_tweets ul li:before,
.owl-carousel.thb-theme .owl-buttons .owl-prev:hover:before,
.owl-carousel.thb-theme .owl-buttons .owl-next:hover:before {
	color: #e68228;
}
#footer-sidebar-trigger,
#page-header .dash,
.comment .comment_leftcol .comment-reply-link,
.thb-text blockquote:before,
.thb-text .su-quote:before,
.comment_body blockquote:before,
.comment_body .su-quote:before,
.thb-text h2:after,
.page-template-template-archives-php .thb-col h3:after,
.thb-navigation li .current,
#thb-portfolio-filter ul li.active,
.owl-carousel.thb-theme .owl-pagination .owl-page.active,
.thb-hide-overlay,
.thb-hide-overlay:hover {
	background-color: #e68228;
}
.pubdate,
.thb-navigation li .current,
input[type="submit"]:hover,
#footer-sidebar input[type="submit"]:hover,
.widget .tagcloud a:hover,
#footer-sidebar .widget .tagcloud a:hover {
	border-color: #e68228;
}
.thb-text blockquote,
.thb-text .su-quote,
.comment_body blockquote,
.comment_body .su-quote,
.single-attachment .post-meta {
	border-left-color: #e68228;
}
#comments,
.single .meta.details,
.author-block,
.related,
#respond,
.thb-navigation {
	border-top-color: #e68228;
}
.page-header-detail:before,
.comment.bypostauthor .comment_rightcol .comment_head {
	border-bottom-color: #e68228;
}
body #container {
	background-color: #000000;
}